<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">

	<listeners>
		<listener class-name="com.dice.base.TestListener" />
	</listeners>
	
	<test thread-count="5" name="LoginTest-FF">
		<parameter name="browser" value="firefox" />
		<groups>
			<run>
				<exclude name="broken"></exclude>
			</run>
		</groups>
		<classes>
			<class name="com.serge.tests.LoginTest">
			</class>
		</classes>
	</test> <!-- Test -->

	<test thread-count="5" name="LoginTest-Chrome">
		<parameter name="browser" value="chrome" />
		<groups>
			<run>
				<exclude name="negative"></exclude>
				<exclude name="broken"></exclude>
			</run>
		</groups>
		<classes>
			<class name="com.serge.tests.LoginTest">
				<!-- <methods> <include name=".*positiveLogInTest.*" /> <exclude name="negativeLogInTest" 
					/> </methods> -->
			</class>
		</classes>
	</test> <!-- Test -->


</suite> <!-- Suite -->
